{% extends 'base.html' %}
{% block head_title %}Спасибо за Ваш выбор{% endblock head_title %}
{% block head_description %}Спасибо за Ваш выбор{% endblock head_description %}
{% block content %}
    <section class="main">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-12 my-auto">
                    <h2 class="text-center">Описание:</h2>
                    <p class="text-center text-muted">Сервис разрабатывался по фану:)</p>
                    <p class="text-center text-muted">Не сохраняет какую либо Вашу инфу. После скачивания архива все
                        фото удаляются автоматически.</p>
                    </p>
                    <p class="text-muted text-center">Email: <a href="mailto:T0n0P@bk.ru">T0n0P@bk.ru</a></p>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}