{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block head_description %}Бесплатно Поставьте водяной знак на фото онлайн{% endblock head_description %}">
    <meta name="author" content="YA">
    <title>{% block head_title %}Site - Бесплатно поставьте водяной знак на фото онлайн{% endblock head_title %}</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/mdb.min.css" %}">
    <link rel="stylesheet" href="{% static "font/font-awesome/css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">
    {% block extra_head %}{% endblock extra_head %}
</head>
<body>
{% include "navbar.html" %}
    {% if messages %}
        {% for message in messages %}
            <div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog"
                 aria-labelledby="ModalCenterTitle"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ModalLongTitle">Информация</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {{ message }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Понятно</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% block content %}{% endblock content %}
{% block extra_body %}{% endblock extra_body %}
{% include "footer.html" %}
{% include "scripts.html" %}
{% if messages %}
    <script type="application/javascript">
        $(document).ready(function () {
            $('#ModalCenter').modal({show: true});
        });
    </script>
{% endif %}
</body>
</html>