{% extends 'base.html' %}
{#{% load crispy_forms_tags %}#}
{% block head_title %}Site - Бесплатно поставь водяной знак на фото онлайн!{% endblock head_title %}
{% block head_description %}Легко поставь водяной знак на фото! Написать текст на фото в несколько кликов. Добавь сайт на фото онлайн бесплатно.{% endblock head_description %}
{% block content %}
    <section class="main">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-12 my-auto">
                    <h1 class="text-center offer">Поставь водяной знак на фото легко!</h1>
                    <h2 class="text-center text-muted offer__text">Онлайн сервис нанесения текста на фото</h2>
                    <p class="text-center text-muted offer__ptext">Всего за несколько кликов добавить Ваш текст на фото</p>
                    <form action="{% url 'home_view_url' %}" class="text-center p-3" enctype="multipart/form-data"
                          method="post"
                          autocomplete="off">{% csrf_token %}
                        <div class="form-row">
                            <div class="col">
                                {{ form.text_field.errors }}
                                {{ form.text_field }}
                            </div>
                            <div class="col">
                                <div class="custom-file">
                                    {{ form.file_field.errors }}
                                    {{ form.file_field }}
                                    <label class="custom-file-label mt-1" for="id_file_field">Ваши файлы</label>
                                </div>
                            </div>
                            <div class="col">
                                <button id="button" class="btn btn-primary m-0">Поехали</button>
                            </div>
                        </div>
                    </form>
                    <div class="text-muted text-center">Максим: 50 фото или 50Mb</div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}