/*@import url('https://fonts.googleapis.com/css?family=Poppins:300,400');*/
@font-face {
    font-family: "Roboto";
    src: url("../font/roboto/Roboto-Bold.ttf");
    src: url("../font/roboto/Roboto-Medium.ttf");
    src: url("../font/roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Poppins";
    src: url("../font/poppins/Poppins-Bold.ttf");
    src: url("../font/poppins/Poppins-ExtraBold.ttf");
    src: url("../font/poppins/Poppins-Light.ttf");
    src: url("../font/poppins/Poppins-Regular.ttf");
}

html, body {
    height: 100%;
    width: 100%;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

* {
    outline: none !important;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    background-color: #fafafa;
}

li, a, button {
    text-decoration: none;
}

.main {
    flex: 1 0 auto;
}

header {
    /*box-shadow: inset rgba(0, 0, 0, 0.1) 0 62px 62px 2px;*/
    box-shadow: 0 1px 10px -1px rgba(0, 0, 0, 0.25);
    font-weight: 600;
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/
    padding: 0px 4%;
    margin-bottom: 10px;
}

.logo {
    /* cursor: pointer; */
    color: #000;
    transition: all 0.3s ease 0s;
}

.logo:hover {
    /* cursor: pointer; */
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

.nav__links {
    list-style: none;
    margin: 0px;
}

.nav__link {
    display: inline-block;
    padding: 20px 10px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.nav__link:hover {
    display: inline-block;
    /*  background-color: rgba(0, 0, 0, 0.05);*/
    padding: 20px 10px;
}

.nav__link a {
    transition: all 0.3s ease 0s;
    color: rgba(0, 0, 0, 1);
}

.nav__link a:hover {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

.offer {
    font-size: 2.5rem;
}

.offer__text{
    font-size: 1.5rem;
}
footer {
    /*padding: 100px 0px 0px 0px;*/
    flex: 0 0 auto;
}

.scl {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scl li {
    list-style: none;
    margin: 0px 20px;
}

.scl li a {
    color: #000;
    font-size: 24px;
    transition: 0.5s;
}

.scl li a:hover {
    color: #00000057;
}

.cprit {
    color: #000;
    text-align: center;
    margin-top: 20px;
}

.cprit a,
.cprit a:hover {
    color: #000;
}
